=border-radius($values)
  -moz-border-radius: $values
  -webkit-border-radius: $values
  border-radius: $values
  -moz-background-clip: padding
  -webkit-background-clip: padding-box
  background-clip: padding-box

=rotate($values)
  -webkit-transform: rotate(#{$values}deg)
  -moz-transform: rotate(#{$values}deg)
  -ms-transform: rotate(#{$values}deg)
  -o-transform: rotate(#{$values}deg)
  transform: rotate(#{$values}deg)
