@import "variables"
@import "mixins"

.posts
	margin: 0 auto
	max-width: 1200px
	width: 100%
	.post-box
		border: 1px solid #eee
		display: inline-block
		margin: 12px
		position: relative
		width: 270px
		.post-info
			border-bottom: 3px solid #eee
			background: $white
			padding: 10px
		.delete
			position: absolute
			right: 10px
			top: 10px
