@import "variables"
@import "mixins"

.header
	background-size: cover
	color: $colorDarkGray
	height: 150px
	padding-top: 100px
	text-align: center

.posts
	margin: 0 auto
	max-width: 1200px
	width: 100%
	.post-box
		border: 1px solid $border
		display: inline-block
		margin: 5px
		position: relative
		width: 270px
		@include border-radius(2px)
		.post-image
			img
				@include border-radius(2px 2px 0 0 )
		.post-footer
			background: $colorLightGray
			border: 1px solid $border
			bottom: -1px
			left: -1px
			color: $colorMediumGray
			padding: 10px
			position: absolute
			width: 250px
			@include border-radius(0 0 2px 2px)
			.description
				font-size: 12px
				text-overflow: ellipsis
				white-space: nowrap
				overflow: hidden
				width: 250px

		.delete
			display: none
			position: absolute
			right: 10px
			top: 10px
		.edit
			display: none
			position: absolute
			right: 60px
			top: 10px
		&:hover
			.delete
				display: block
			.edit
				display: block
